*{
    margin : 0;
    padding : 0;
}
 
nav{
    display : none;
}

div#slider { 
    width: 100%; 
    max-width: 1280px;
    overflow: hidden
}

div#slider figure {
    position: relative; 
    width: 400%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 18s slidy infinite;
  }

  div#slider figure img { 
      width: 25%; 
      height: auto;
      float: left; 
    }

    @keyframes slidy {
        0% { left: 0%; }
        30% { left: 0%; }
        35% { left: -100%; }
        65% { left: -100%; }
        70% { left: -200%; }
        95% { left: -200%; }
        100% { left: -300%; }
      }